body {
  font-family: Arial, sans-serif;
}

p {
  text-align: justify;
  text-indent: 30px;
  max-width: 1000px;
  margin: 1 auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}